/*-----------------
------import area-----
--------------------*/
/* poppin font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*------------------
----- common style--
-------------------*/
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.button{
    padding: 10px 20px;
    background-color: #E6425E;
    border-radius: 20px;
}

/*------heading style----*/
header{
    padding: 0 120px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin-left: 34px;
}
nav span .fa-shopping-cart{
    font-size: 24px;
}

/*---------------------------
-----------introduction style
----------------------------  */
.introduction{
    margin: 80px 120px;
    display: flex;
    justify-content: space-between;
}
.intro-text h1{
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 24px;
}
.intro-text p{
    font-weight: 600;
    margin-bottom: 50px;
}
.intro-text a{
    text-decoration: none;
    color: white;
}
.intro-text span{
    margin-left: 5px;
}
