/*-----------------
------import area-----
--------------------*/
/* poppin font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*------------------
----- common style--
-------------------*/
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.button{
    padding: 10px 20px;
    background-color: #E6425E;
    border-radius: 20px;
}

/*------heading style----*/
header{
    padding: 0 120px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin-left: 34px;
}
nav span .fa-shopping-cart{
    font-size: 24px;
}

/*---------------------------
-----------introduction style
----------------------------  */
.introduction{
    margin: 80px 120px;
    display: flex;
    justify-content: space-between;
}
.intro-text h1{
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 24px;
}
.intro-text p{
    font-weight: 600;
    margin-bottom: 50px;
}
.intro-text a{
    text-decoration: none;
    color: white;
}
.intro-text span{
    margin-left: 5px;
}
/*--------------------
- business partner style
-----------------------*/
.business-partners{
    margin-left: 120px;
    width: 1110px;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}
/*----------
----products style---
-----------------  */
.products-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products{
    width: 1147px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
#products-tag{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
.product{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding:20px 15px;
    width: 329px;
}
.product img{
    width: 100%;
}
.product-name{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: -13px;
}
.product-price{
    font-size: 24px;
    font-weight: 500;
}
.rating{
    font-weight: 700;
}
.products-section > a{
    text-decoration: none;
    font-weight: 600;
    color: #E6425E;
    float: right;
    margin-top: 50px;
    margin-right: 105px;
}
/*-----------------------
------ social work style--
--------------------------  */
.mission{
    padding: 0 120px;
    margin-top: 200px;
    display: flex;
}
.about-mission{
    margin-left: 100px;
}
.about-mission h2{
    margin-top: 15px;
    font-size: 38px;
    font-weight: 700;
}
.about-mission p{
    font-weight: 600;
}
.mission-link{
    margin-top: 40px;
}
.about-mission a{
    margin-right: 50px;
    border-radius: 0;
    text-decoration: none;
    color: white;
}


/*-----------------
--- footer style---
------------------  */
footer{
    margin-top: 100px;
    background-color: #242B2E;
    height: 320px;

}
.footer{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer h3{
    color: white;
}
footer p{
    color: gainsboro;
}
.footer-link{
    width: 176px;
    display: flex;
    justify-content: space-between;
}
.footer-link a{
    font-size: 2em;
    color: white;
}

/*-----------------------
---- media query style---
----------------------*/
/*------mobile device------*/
@media only screen and (max-width:688px) {
    main{
        width: 100%;
    }
    header{
        flex-direction: column;
    }
    .heading-title{
        min-width: 200px;
    }
    .heading-title h3{
        text-align: center;
        min-width: 200px;
        font-size: 16px;
    }
    nav{
        display: none;
    }
    .introduction{
        margin-top: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .into-thumnail img{
        width: 90%;
    }
    .business-partners{
        width: auto;
        margin: 0; 
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }
    .products-main{
        width: 100%;
        align-items: center;
        
    }
    .products{
        text-align: center;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .mission{
        width: auto;
        padding: 20px 20px;
        flex-direction: column;
    }
    .mission-thumnail img{
        width: 100%;
    }
    .about-mission{
        margin: 0;
        text-align: center;
    }
    .mission-link a{
        margin: 0;

    }
    footer{
        width: 100%;
    }

}

/*--------- 
-----tablet device---
-------------------- */
@media only screen and (min-width:668px) and (max-width:992px) {
    main{
        width: 100%;
    }
    header{
        flex-direction: column;
    }
    .introduction{
        margin:100px 50px;
    }
    .business-partners{
        width: 100%;
        margin: 0 50px;
        border: none;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 10px;
        

    }
    .products-section{
        width: 100%;
    }
    .products-main{
        width: 100%;
        margin: 0 20px;
    }
    .products{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .mission{
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    .about-mission{
        margin: 0;
    }
}